@import "src/app/styles/reset";
@import "src/app/styles/varialbles/global";
@import "src/app/styles/themes/dark";
@import "src/app/styles/themes/normal";

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary), sans-serif;
    line-height: var(--line-height-m);
    color: var(--color-light-100);
    background-color: var(--color-dark-900);
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}