.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    padding: 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;

    &:hover {
        background-color: var(--primary-color);
        color: #e6e6e6;
    }
}

.small {
    font: var(--font-m);
}

.medium {
    font: var(--font-l);
}

.large {
    font: var(--font-xl);
}

.fullWidth {
    width: 100%;
}

.inverted {
    color: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.8;
    pointer-events: none;
}