.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
    position: relative;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
    gap: 10px;
}


.toggleBtn {
    position: absolute;
    top: 50%;
    right: -40%;
    transform: rotate(90deg);
    color: var(--inverted-primary-color);

    &:hover {
        color: var(--inverted-secondary-color);
    }

}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;

}

.link {
    display: flex;
    align-items: center;
    color: var(--inverted-primary-color);
}

.linkIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.collapsed {
    width: var(--sidebar-collapsed-width);

    .switchers {
        flex-direction: column;
    }

    .toggleBtn {
        right: 0;
    }

    .link {
        justify-content: center;

    }

}



