.app_dark_theme {
    --bg-color: #2b2b2c;
    --inverted-bg-color: #eee;
    --primary-color: #049304;
    --inverted-primary-color: #01858a;
    --secondary-color: #5ff15f;
    --inverted-secondary-color: #06c5d0;

}